/*
 * General typography and color pallet
 */
html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
}

h1,
h2,
h3{
  font-family: 'Oswald', sans-serif;
}


/*
 * Main Layout
 */

.container{
   max-width: 1300px;
   margin: 0 auto;
 }

header{
  background: #FFF url('http://unsplash.it/1300/250') no-repeat;
  background-size: cover;
  height: 523px;
  position: relative; /* for absolutely positioned children */
  margin-bottom: 62px;
}

header:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(16, 98, 170, 0.8);
}

header nav,
header h1,
header h3{
  position: relative;
}

header h1,
header h3{
  text-align: center;

}

header h1,
.branding span,
.utility-nav > a{
  text-transform: uppercase;

}

.branding,
.utility-nav {
  display:inline-block;
  height: 57px;
}

.branding {
  position: absolute;
  top: 6px;
  left: 137px;
}

.branding span{
  vertical-align: 22px;
}

.utility-nav {
  float: right;
  margin-right: 162px;
}

.utility-nav a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.utility-nav{
  padding-top: 11px;
}

.utility img{
  display:inline-block;
  margin-top: 10px;
}

header h1{
  font-size: 81px;
  letter-spacing: 16px;
  padding-top: 80px;
  padding-bottom: 0;
  margin-bottom: -8px;
  color: white;

}

header h3{
  font-size: 12px;
  letter-spacing: 2px;
  padding-top: 0;
  margin-top: 0;
  color: black;
}

/*
 * Main Page Content
 */

 .main-content-div{
  display:inline-block;
  float: left;
  height: 1007px;
  width: 620px;
  padding-left: 163px;
  padding-right: 78px;
 }

 .main-content-heading{
    font-size: 62px;
    margin: 0px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 5px
  }

  .headshot{
    border-radius: 50%;
  }

  .headshot-main{
    height: 22px;
    width: 22px;
    padding-left: 4px;
    padding-right: 4px;
  }


  .byline  span,
  .byline  a{
    display: inline-block;;
    font-size: 12px;
  }

  .byline nth-child-selector(2){
    padding-right: 10px;
  }



  .comments div{
    display:inline-block;
  }


/*
 * SIDE CONTENT
 */
.side-content{
   display:inline-block;
   height: 1007px;
   width: 278px;
   margin-top: 20px;

}

.side-content-top{
  align-items: center;
}

.headshot-side{
  display:block;
  height: 85px;
  width: 85px;
  margin:0 auto;
  margin-bottom: 13px;
}

.author{
  display:block;
  text-transform: uppercase;
  text-align: center;
}

.social-links{
  margin: 0 auto;
  padding-left: 50px;
  padding-top: 4px;
}

.social-links li{
  display: inline-block;
  font-size: 12px;

  text-decoration: none;
}

.side-image{
  display:block;
  height:300px;
  width:278px;
  background-color: blue;
}

.about{
  text-transform: uppercase;
}

.sidebar-heading{
  text-transform: uppercase;
}

.side-content-top{
  margin: 0 auto;
}

.side-content a{
  display:inline-block;
  float:right;
}

.clearfix{
  clear: both;
}


/*
 * BOTTOM
 */

 .bottom{
   height: 477px;


 }

 .posts-headline{
   text-align: center;
   text-transform: uppercase;
 }

.posts-image-blocks li{
 max-width: 1300px;
 height: 331px;
 padding: 0;
 margin: 0;
 float:left;
 list-style: none;
 text-decoration: none;
}

.cool{
  background-color: red;
  width: 325px;
}

.post{
  background-color: lightblue;
  width: 325px;
}

.here{
  background-color: green;
  width: 326px;
}

.oh{
  background-color: orange;
  width: 324px;

}

.bottom li{
  text-transform: uppercase;
}



/*
 * FOOTER
 */

.footer-nav,
.footer-nav li{
  display:inline-block;
}

.footer-nav{
  float: right;
}
